.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/KITApp2.iml
/KITApp.iml
app/app.iml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/app/.gitignore
/app/build